html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

img.logo {
    position: relative;
    left: -7px;
    top: 0;
    width: 70px;
    height: 70px;
}

.sidebar {
    margin: 0;
    box-sizing: border-box;
    font-family: Courier;
    position: absolute;
    top: 0;
    left: 0;
    min-height: 1100px;
    height: 100%;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 6;
}

.sidebar.active {
    width: 250px;
    z-index: 1;
    opacity: 1;

}

.sidebar #btn {
    position: absolute;
    color: rgb(105, 240, 105);
    top: 0px;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .name {
    color: rgb(105, 240, 105);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .name {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    right: 38px;
    list-style-type: none;
    height: 50px;
    width: 50px;
    margin: 0.8rem auto;
    color: rgb(105, 240, 105);
    line-height: 50px;
}

.sidebar ul li a {
    color: rgb(105, 240, 105);
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 0.8rem;
    vertical-align: center;
    line-height: 50px;

}

.sidebar ul li a:hover {
    background-color: rgb(105, 240, 105);
    color: #02353c;
}

.sidebar.active ul li {
    right: 80px;
}

.sidebar.active ul li a {
    width: 160px;
    padding: 2px;
}

.sidebar ul li a i {
    position: relative;
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 2px;
    vertical-align: center;
    line-height: 42px;
}

.sidebar .sidebar-item {
    opacity: 0;
}

.sidebar.active .sidebar-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    color: black;
    background-color: rgb(105, 240, 105);
    transform: translate(-20%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.link {
    color: yellow;
}

.link:hover {
    color: orange;
    cursor: pointer;
}

button.nav {

    background-color: transparent;
    color: #95AA15;
    border: 3px outset;
    border-radius: 0.8rem;
    border-color: #95AA15;
    width: 160px;
    height: 75px;
    font-size: 20pt;
    margin-left: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button.nav:hover {
    background-color: #95AA15;
    color: #02353c;
    border-radius: 5px;
    border-color: #95AA15;


}


#background {

    position: absolute;
    top: 0;
    left: 0;
    min-width: 2020px;
    width: 100%;
    min-height: 1100px;
    height: 100%;
    background: linear-gradient(to bottom, #02353c 0%, #02353c 60px, #02353c 60px, rgb(58, 138, 58) 100%);
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Ensure it stays behind the content */
    transition: all 1s ease;
}

#background.content1 {
    background: linear-gradient(to bottom, #3c1b02 0%, #847717 100%);
    z-index: -1;
}

#background.content2 {
    background: linear-gradient(to bottom, #611945 0%, #230f3e 100%);
    z-index: -1;
}

#background.content3 {
    background: linear-gradient(to bottom, #3f7976 0%, #0c1322 100%);
    z-index: -1;
}

#background.content4 {
    background: linear-gradient(to bottom, #2236c7 0%, #ee072d 100%);
    z-index: -1;
}

.trapezoid {
    position: absolute;
    top: -1000px;
    border-bottom: 2900px solid rgba(58, 72, 101, 0.3);
    border-left: 400px solid transparent;
    border-right: 400px solid transparent;
    height: 0;
    width: 333px;
    transform: rotate(90deg);
    z-index: -1;
}

.header {
    position: absolute;
    left: 1000px;
    top: 0px;
    font-family: Courier;
    color: #10e492;
    font-size: 35pt;
}

.slider {

    width: 1450px;
    height: 800px;
    position: relative;
    top: 100px;
    left: 225px;
    overflow: hidden;
}

.list {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    display: flex;
    width: max-content;
    transition: 1s;
}

.item {
    position: relative;
    height: 100%;
    width: 1300px;

}

.subheader1 {
    position: relative;
    top: 0px;
    left: 200px;
    font-family: Courier;
    font-size: 30pt;
    color: rgb(84, 197, 84);
}

.writing1 {
    position: relative;
    top: 0px;
    left: 150px;
    text-align: center;
    font-family: courier;
    font-size: 18pt;
    color: #95AA15;
}

#see_more1 {
    position: relative;
    left: 100px;
    top: 200px;
}

.programming {
    position: relative;
    top: -100px;
    left: -630px;
    height: 200px;
    width: 200px;
    z-index: 5;
}

.workout_program {
    position: relative;
    top: -15px;
    left: 390px;
    width: 800px;
    border-radius: 10px;

}

.subheader2 {
    position: relative;
    top: 0px;
    left: 300px;
    font-family: Courier;
    font-size: 30pt;
    color: rgb(84, 197, 84);
}

.writing2 {
    position: relative;
    top: 0px;
    left: 200px;
    text-align: center;
    font-family: courier;
    font-size: 18pt;
    color: #95AA15;
}

#see_more2 {
    position: relative;
    left: 0px;
    top: 280px;
}

.painting {
    position: relative;
    left: 430px;
    top: -150px;
    height: 250px;
    width: 250px;
}

.home_page {
    position: relative;
    left: 330px;
    top: 0px;
    width: 650px;
    border-radius: 5px;
}

.subheader3 {
    position: relative;
    top: 0px;
    left: 250px;
    font-family: Courier;
    font-size: 30pt;
    color: rgb(84, 197, 84);
}

#see_more3 {
    position: relative;
    left: 25px;
    top: 100px;
}

.writing3 {
    position: relative;
    top: 0px;
    left: 200px;
    font-size: 18pt;
    text-align: center;
    font-family: courier;
    color: #95AA15;
}

.electronics {
    position: relative;
    top: 100px;
    left: 350px;
    height: 220px;
    width: 250px;

    z-index: -1;
}

.VHDL3_schematic {
    position: relative;
    top: 5px;
    left: 300px;
    width: 800px;
    border-radius: 5px;
}

.subheader4 {
    position: relative;
    top: 0px;
    left: 300px;
    font-family: Courier;
    font-size: 30pt;
    color: rgb(84, 197, 84);
}

.typewriter {
    position: relative;
    left: -355px;
    top: -70px;
    height: 250px;
    width: 290px;
}

.writing4 {
    position: relative;
    top: 0px;
    left: 250px;
    font-size: 18pt;
    text-align: center;
    font-family: courier;
    color: #95AA15;
}

#see_more4 {
    position: relative;
    left: 100px;
    top: 100px;
}

#see_more5 {
    position: relative;
    left: 100px;
    top: 200px;
}

.shielding_paper {
    position: relative;
    top: 0px;
    left: 555px;
    width: 600px;
    border-radius: 5px;
}

.greyscale {
    position: relative;
    top: 0px;
    left: 505px;
    width: 650px;
    border-radius: 5px;
}

.subheader5 {
    position: relative;
    top: 0px;
    left: 250px;
    font-family: Courier;
    font-size: 30pt;
    color: rgb(84, 197, 84);
}

.writing5 {
    position: relative;
    top: 0px;
    left: 250px;
    font-size: 18pt;
    text-align: center;
    font-family: courier;
    color: #95AA15;
}

.ai {
    position: absolute;
    left: 1250px;
    top: 300px;
    height: 150px;
    width: 150px;

}

.buttons {
    position: absolute;
    top: 260px;
    left: 100px;
    width: 1350px;
    display: flex;
    justify-content: space-between;

}

.buttons button {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    background-color: #fff5;
    color: #fff;
    border: none;
    font-family: Tahoma;
    font-weight: bold;
    font-size: 20px;
}

.dots {
    position: absolute;
    bottom: 0px;
    color: #fff;
    left: 0px;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;

}

.dots li {
    list-style: none;
    width: 20px;
    height: 20px;
    background-color: #fff;
    margin: 30px;
    border-radius: 40px;
    transition: 1s;
}

.dots li.active {
    width: 50px;
}