html,
body {
    margin: 0;
    padding: 0;
    width: 100%;
    overflow-x: hidden;

}

/*images */
img.myicon {
    width: 100px;
    height: 100px;

}

img.walkie {
    position: absolute;
    left: 600px;
    top: 210px;
    height: 250px;
    width: 250px;
}

img.hill1 {
    position: absolute;
    top: 1105px;
    right: 40px;
    height: 440px;
    width: 700px;
    border-radius: 100px;
    transform: rotate(-10deg);
}

img.hill2 {
    position: absolute;
    top: 1115px;
    left: 100px;
    height: 450px;
    width: 820px;
    border-radius: 100px;
}

img.radio_tower1 {
    position: absolute;
    top: 1100px;
    left: 230px;
    height: 395px;
    width: 200px;
}

img.radio_tower2 {
    position: absolute;
    top: 1040px;
    right: 180px;
    height: 450px;
    width: 230px;
    transform: scaleX(-1) rotate(10deg);
}

img.hill1.shift {
    position: absolute;
    top: 1550px;
    right: 20px;
}

img.hill2.shift {
    position: absolute;
    top: 1500px;
    left: 110px;
}

img.radio_tower1.shift {
    position: absolute;
    top: 1500px;
    left: 255px;
}

img.radio_tower2.shift {
    position: absolute;
    top: 1480px;
    right: 160px;
}

img.profile_pic {
    position: relative;
    top: 40px;
    left: 20px;
    height: 320px;
    width: 320px;
    border-radius: 160px;
}

img.radio {
    position: absolute;
    top: 50px;
    right: 30px;
    height: 500px;
    width: 500px;
}

img.radio_wave1 {
    position: absolute;
    top: -10px;
    right: 430px;
    height: 120px;
    width: 80px;
    transform: rotate(260deg);
    opacity: 0;
    transition: all 0.5s ease;
}

img.radio_wave2 {
    position: absolute;
    top: 100px;
    left: 710px;
    height: 100px;
    width: 70px;
    transform: rotate(100deg);
    opacity: 0;
    transition: all 0.5s ease;
}

img.radio_wave1.visible {
    opacity: 1;
    transition: all 0.5s ease;
}

img.radio_wave2.visible {
    opacity: 1;
    transition: all 0.5s ease;
}

/*preset bar*/

.presetBar {
    position: absolute;
    top: 50px;
    left: 120px;
    height: 375px;
    width: 450px;
    background-color: rgb(61, 103, 127);
    border: 5px outset rgb(97, 80, 135);
    border-radius: 20px;
    padding: 10px
}

#presetty {
    position: relative;
    top: 5px;
    font-family: Monospace;
    color: #95AA15;
    font-size: 30pt;
}

.options {
    position: relative;
    font-family: Courier;
    color: rgb(105, 240, 105);
    top: 20px;
    font-size: 16pt;
}

#changechannel {
    position: absolute;
    right: 34%;
    top: 80px;
    text-align: center;
    width: 240px;
    font-size: 14pt;
    font-family: Courier;
    color: rgb(208, 180, 243);

}

/*preset dial*/

.dial {
    position: absolute;
    top: 200px;
    right: 34%;
    height: 250px;
    width: 250px;
}

.circle {
    position: relative;
    top: 20px;
    left: 20px;
    height: 110px;
    width: 110px;
    border: 2px outset;
    border-radius: 55px;
    background-color: #02353c;
}

.smaller_circle {
    position: relative;
    top: 15px;
    left: 15px;
    height: 80px;
    width: 80px;
    border: 2px outset;
    border-radius: 40px;
    background-color: black;
}

.needle_border {
    position: relative;
    left: 49px;
    top: -130px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid white;
}

.needle {
    position: relative;
    right: 30px;
    top: 3px;
    width: 0;
    height: 0;
    border-left: 30px solid transparent;
    border-right: 30px solid transparent;
    border-bottom: 80px solid black;
}

button.preset {

    background-color: rgb(61, 103, 127);
    color: rgb(105, 240, 105);
    height: 40px;
    width: 32px;
    border: 2px outset;
    border-radius: 0.8rem;
    border-color: gray;
    font-size: large;
    cursor: pointer;
}

button.preset:hover {
    background-color: rgb(105, 240, 105);
    color: #02353c;
}

.shape {
    position: relative;
    left: 50px;
    top: 50px;
    height: 150px;
    width: 150px;

}

#first {
    position: relative;
    left: 112px;
    top: -180px;

}

#second {
    position: relative;
    left: 195px;
    top: -80px;

}

#third {
    position: relative;
    left: 105px;
    top: 65px;
}

#fourth {
    position: relative;
    left: -80px;
    top: 65px;
}

#fifth {
    position: relative;
    left: -165px;
    top: -80px;

}

.shape.one {
    transform: rotate(0deg);
}

.shape.two {
    transform: rotate(72deg);
}

.shape.three {
    transform: rotate(144deg);
}

.shape.four {
    transform: rotate(216deg);
}

.shape.five {
    transform: rotate(288deg);
}

.header {
    position: absolute;
    font-family: monospace;
    left: 750px;
    top: 0px;
    color: #95AA15;
    font-size: 30pt;
}

/* Content of preset 1 */
.presetNumOne {
    position: absolute;
    top: 500px;
    left: 8%;
    height: 530px;
    width: 1000px;
    padding: 15px;
    background-color: rgb(83, 134, 88);
    border: 5px outset rgb(13, 71, 142);
    border-radius: 20px;
    transition: all 0.5s ease;
}

.presetNumOne.invisible {
    opacity: 0;
}

#name {
    position: relative;
    top: 20px;
    font-family: Monospace;
    color: #95AA15;
    font-size: 24pt;
}

#p1 {
    position: relative;
    top: -415px;
    left: 380px;
    width: 620px;
    font-family: courier;
    font-size: 15pt;
    color: #38038e;
}

#p2 {
    position: relative;
    top: -410px;
    left: 380px;
    width: 620px;
    font-family: courier;
    font-size: 15pt;
    color: #38038e;
}

img.logo2 {
    position: absolute;
    top: 300px;
    left: 1100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

img.info {
    position: absolute;
    top: 30px;
    left: 1100px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

img.website_build {
    position: absolute;
    top: 150px;
    left: 1350px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

/* content preset 2 */
.presetNumTwo {
    opacity: 0;
    position: absolute;
    transition: all ease 0.5s;
    position: absolute;
    left: 0px;
    top: 0;
    width: 1425px;
    height: 900px;
    background-color: rgba(74, 53, 100, 0.717);
    border: 4px solid rgb(63, 108, 132);
    border-radius: 10px;
    transform: rotate(-2deg);
    z-index: -2;
}

.presetNumTwo.visible {
    opacity: 1;
    left: 10%;
    top: 550px;
    z-index: 1;
}

.cat {
    position: relative;
    top: 385px;
    left: 1050px;
    height: 130px;
    width: 175px;
}

.maxEqns {
    position: relative;
    top: -60px;
    left: 600px;
    height: 300px;
    width: 420px;
    transform: rotate(2deg);
}

.bandgap {
    position: relative;
    top: -50px;
    left: 550px;
    height: 200px;
    width: 370px;
}

.blackhole1 {
    position: relative;
    top: 210px;
    left: 900px;
    height: 150px;
    width: 150px;
    transform: rotate(-50deg);
}

.blackhole2 {
    position: relative;
    top: 320px;
    right: -860px;
    height: 190px;
    width: 260px;
}

.heatEqn {
    position: relative;
    top: 250px;
    left: -152px;
    height: 80px;
    width: 235px;

}

.waveEqn {
    position: relative;
    top: 320px;
    left: 1050px;
    height: 80px;
    width: 190px;

}

.furierTrnsfrm {
    position: relative;
    top: 250px;
    right: -350px;
    height: 80px;
    width: 260px;
    transform: rotate(-3deg);
}

#mathphysics {
    position: relative;
    left: 180px;
    width: 650px;
    font-size: 25pt;
    font-family: Monospace;
    color: rgb(58, 162, 197);
}

#theinterest {
    position: relative;
    top: -550px;
    left: 10px;
    width: 900px;
    font-size: 15pt;
    font-family: Courier;
    color: rgb(58, 162, 197);
}

#learned1 {
    position: relative;
    top: -555px;
    left: 10px;
    width: 900px;
    font-size: 15pt;
    font-family: Courier;
    color: rgb(58, 162, 197);
}



/* content preset 3 */
.presetNumThree {
    opacity: 0;
    transition: all ease 0.5s;
    position: absolute;
    left: 0px;
    top: 0;
    width: 1425px;
    height: 900px;
    background-color: rgba(96, 49, 64, 0.646);
    border: 4px inset rgb(245, 148, 137);
    border-radius: 10px;
    z-index: -2;
}

.presetNumThree.visible {
    opacity: 1;
    left: 10%;
    top: 550px;
    z-index: 1;
}

.frontsquat {
    position: relative;
    top: -20px;
    left: -195px;
    height: 250px;
    width: 200px;
    border-radius: 30px;
}

.backsquat {
    position: relative;
    top: 290px;
    left: 310px;
    height: 290px;
    width: 200px;
    border-radius: 30px;
}

.doublesided {
    position: relative;
    left: -370px;
    bottom: -490px;
    height: 190px;
    width: 460px;
    border-radius: 10px;
}

.ohp {
    position: absolute;
    right: 870px;
    bottom: 535px;
    height: 200px;
    width: 150px;
    border-radius: 10px;
}

.incline {
    position: relative;
    right: 650px;
    top: -70px;
    height: 175px;
    width: 135px;
    border-radius: 10px;
}

.deadlift {
    position: absolute;
    right: 1170px;
    bottom: 230px;
    height: 280px;
    width: 200px;
    border-radius: 10px;
    transform: rotate(-1deg);
}

#fitnessstrength {
    position: relative;
    left: 20px;
    top: -10px;
    width: 650px;
    font-size: 25pt;
    font-family: Monospace;
    color: rgb(245, 148, 137);
}

#howitstarted {
    position: relative;
    top: -330px;
    left: 600px;
    width: 800px;
    font-size: 15pt;
    font-family: Courier;
    color: rgb(245, 148, 137);
}

#thegrind {
    position: relative;
    top: -300px;
    left: 550px;
    width: 850px;
    font-size: 15pt;
    font-family: Courier;
    color: rgb(245, 148, 137);
}

/* content preset 4 */

.presetNumFour {
    opacity: 0;
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 1425px;
    height: 900px;
    background-color: rgba(31, 88, 141, 0.282);
    border: 4px inset rgb(137, 245, 202);
    border-radius: 10px;
    transform: rotate(2deg);
    z-index: -2;
}

.presetNumFour.visible {
    opacity: 1;
    left: 10%;
    top: 550px;
    z-index: 1;
}

#compsciAI {
    font-family: Monospace;
    position: relative;
    color: #badd7e;
    left: 400px;
    font-size: 25pt;
}

#compsci {
    font-family: courier;
    position: relative;
    color: #badd7e;
    font-size: 15pt;
    top: -15px;
    left: 10px;
    width: 800px;
}

#artInt {
    font-family: courier;
    position: relative;
    color: #badd7e;
    font-size: 15pt;
    top: -35px;
    left: 600px;
    width: 800px;
}

.programming {
    position: relative;
    bottom: 930px;
    left: 670px;
    height: 300px;
    width: 300px;
}

.xor {
    position: relative;
    bottom: 750px;
    left: 600px;
    height: 100px;
    width: 195px;
}

.ai {
    position: relative;
    left: -720px;
    bottom: 400px;
    height: 250px;
    width: 250px;
}

.cryptography {
    position: relative;
    bottom: 380px;
    right: 700px;
    height: 250px;
    width: 250px;
}

.disk {
    position: relative;
    bottom: 1100px;
    left: 870px;
    height: 200px;
    width: 200px;
}

.transistor {
    position: relative;
    bottom: 1300px;
    left: 750px;
    height: 150px;
    width: 150px;
}

.neuralnet {
    position: relative;
    bottom: 700px;
    left: 1100px;
    height: 250px;
    width: 250px;
}

/* content preset 5 */

.presetNumFive {
    opacity: 0;
    transition: all ease 0.5s;
    position: absolute;
    left: 0;
    top: 0;
    width: 1425px;
    height: 900px;
    background-color: rgba(26, 124, 125, 0.622);
    border: 4px inset rgba(54, 64, 100, 0.991);
    border-radius: 10px;
    z-index: -2;
}

.presetNumFive.visible {
    opacity: 1;
    left: 10%;
    top: 550px;
    z-index: 1;
}

.parker1 {
    position: relative;
    top: -20px;
    left: 30px;
    width: 370px;
    height: 450px;
    border-radius: 20px;
}

.parker2 {
    position: relative;
    right: 240px;
    top: 300px;
    width: 500px;
    height: 290px;
    border-radius: 20px;
}

.parker3 {
    position: relative;
    left: -40px;
    top: 290px;
    width: 480px;
    height: 370px;
    border-radius: 20px;
}

.parker4 {
    position: relative;
    left: 440px;
    top: -550px;
    width: 360px;
    height: 520px;
    border-radius: 20px;
}

.parker5 {
    position: relative;
    left: 530px;
    top: -630px;
    width: 450px;
    height: 450px;
    border-radius: 20px;
}

#HiParker {
    position: relative;
    left: 50px;
    font-family: monospace;
    font-size: 30pt;
    Color: rgba(54, 64, 100, 0.991);

}

/* Sidebar */

img.logo {
    position: relative;
    left: -7px;
    top: 0;
    width: 70px;
    height: 70px;
}

.sidebar {
    margin: 0;
    box-sizing: border-box;
    font-family: Courier;
    position: absolute;
    top: 0;
    left: 0;
    height: 1615px;
    width: 80px;
    background-color: rgba(0, 0, 0, 0.5);
    padding: .4rem .8rem;
    transition: all 0.5s ease;
    opacity: 1;
    z-index: 1;
}

.sidebar.long {
    height: 2060px;
}

.sidebar.active {
    width: 250px;
    z-index: 1;
    opacity: 1;

}

.sidebar #btn {
    position: absolute;
    color: rgb(105, 240, 105);
    top: 0px;
    left: 50%;
    font-size: 1.2rem;
    line-height: 50px;
    transform: translateX(-50%);
    cursor: pointer;
}

.sidebar.active #btn {
    left: 90%;
}

.sidebar .top .name {
    color: rgb(105, 240, 105);
    display: flex;
    height: 50px;
    width: 100%;
    align-items: center;
    pointer-events: none;
    opacity: 0;
}

.sidebar.active .top .name {
    opacity: 1;
}

.sidebar ul li {
    position: relative;
    right: 38px;
    list-style-type: none;
    height: 50px;
    width: 50px;
    margin: 0.8rem auto;
    color: rgb(105, 240, 105);
    line-height: 50px;
}

.sidebar ul li a {
    color: rgb(105, 240, 105);
    display: flex;
    width: 50px;
    height: 50px;
    align-items: center;
    text-align: center;
    text-decoration: none;
    border-radius: 0.8rem;
    vertical-align: center;
    line-height: 50px;

}

.sidebar ul li a:hover {
    background-color: rgb(105, 240, 105);
    color: #02353c;
}

.sidebar.active ul li {
    right: 80px;
}

.sidebar.active ul li a {
    width: 160px;
    padding: 2px;
}

.sidebar ul li a i {
    position: relative;
    min-width: 50px;
    text-align: center;
    height: 50px;
    border-radius: 2px;
    vertical-align: center;
    line-height: 42px;
}

.sidebar .sidebar-item {
    opacity: 0;
}

.sidebar.active .sidebar-item {
    opacity: 1;
}

.sidebar ul li .tooltip {
    position: absolute;
    left: 125px;
    top: 50%;
    color: black;
    background-color: rgb(105, 240, 105);
    transform: translate(-20%, -50%);
    box-shadow: 0 0.5rem 0.8rem rgba(0, 0, 0, 0.3);
    border-radius: 0.6rem;
    padding: 0.4rem 1.2rem;
    line-height: 1.8rem;
    z-index: 20;
    opacity: 0;
}

.sidebar ul li:hover .tooltip {
    opacity: 1;
}

.sidebar.active ul li .tooltip {
    display: none;
}

.link {
    color: yellow;
}

.link:hover {
    color: orange;
    cursor: pointer;
}


button.nav {

    background-color: transparent;
    color: rgb(105, 240, 105);
    border: 3px outset;
    border-radius: 0.8rem;
    border-color: rgb(105, 240, 105);
    width: 130px;
    height: 55px;
    font-size: large;
    margin-left: 30px;
    float: right;
    margin-right: 10px;
    margin-top: 10px;
    cursor: pointer;
}

button.nav:hover {
    background-color: rgb(105, 240, 105);
    color: #02353c;
    border-radius: 5px;
    border-color: rgb(105, 240, 105);

    font-size: large;

}

#background {

    position: absolute;
    top: 0;
    left: 0;
    width: 2440px;
    height: 1615px;
    overflow-y: auto;
    background: linear-gradient(#02353c, rgb(58, 138, 58));
    z-index: -1;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /* Ensure it stays behind the content */
    transition: all 0.5s ease;
    box-sizing: border-box;

}

#background.two {
    background: linear-gradient(to bottom, #02353c 0%, rgb(38, 28, 59) 500px, rgb(38, 28, 59) 500px, rgb(54, 47, 71) 100%);
    overflow-y: auto;
}

#background.three {
    background: linear-gradient(to bottom, #02353c 0%, #54362c 500px, #54362c 500px, #5b271e 100%);

    overflow-y: auto;
}

#background.four {
    background: linear-gradient(to bottom, #02353c 0%, #43471f 500px, #43471f 500px, #497149 100%);

    overflow-y: auto;
}

#background.five {
    /*  background: linear-gradient(to bottom, #02353c 0%, rgb(117, 84, 46) 500px, rgb(117, 84, 46) 500px, rgb(110, 67, 36) 100%); */
    background: linear-gradient(to bottom, #02353c 0%, rgb(75, 100, 108) 500px, rgb(75, 100, 108) 500px, #414f5e 100%);

    overflow-y: auto;
}

#background.long {
    height: 2060px;
    min-height: 100vh;
}
